<html>
  <head>
    <title>My Angular App!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
    <div ng-repeat="post in posts | orderBy: 'upvotes'"> // now we can iterate over an array or objects
      <!-- orderBy: 'upvotes' will be in ascending order  -->
      <!-- orderBy: '-upvotes' will be in descending order  -->
      <span ng-click="incrementUpvotes(post)">^</span>
      <a href="{{post.link}}" ng-show="post.link">
        {{post.title}}
      </a>
      <!-- ng-show will make the link visible only if it exists -->
      <!-- ng-hide will make the title visitble if the link exists -->
      <span ng-hide="post.link">
        {{post.title}}
      </span>
      <span>
        <!-- ng-repeat has built-in $index property referring to the index in the array -->
        <a href="#/posts/{{$index}}">Comments</a>
      </span>
       - upvotes: {{post.upvotes}}
      <!-- {{post}} -->
    </div>
    <!-- <button ng-click="addPost()">Post</button> -->
    <form ng-submit="addPost()">
      <input type="text" placeholder="Title" ng-model="title" />
      <input type="text" placeholder="Link" ng-model="link" />
      <button type="submit">POST</button>
    </form>
    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>

        </h3>
      </div>

      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
      </div>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <!-- post template -->
      <form ng-submit="addComment()"
      style="margin-top:30px;">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Comment"
        ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </script>
  </body>
</html>
